.main{
    border: black solid 2px;
    height: 40px;
}
.blue{
    height: 30px;
    width: 30px;
    background-color: blue;
    margin-top: 5px;
    margin-left: 50%;
}
.red{
    height: 30px;
    width: 30px;
    background-color: red;
    margin-top: 5px;
}
.green{
    height: 30px;
    width: 30px;
    background-color: green;
    margin-top: 5px;
    margin-left: 90%;
}